<div class="container-fluid px-0 sticky-top">
    <footer class="pt-4 mt-md-5 pt-md-5 px-4 bg-dark text-light">
        <div class="row">
          <div class="col-12 col-md">
            <a class="navbar-brand text-light" href="/home"><i class="bi bi-bicycle"></i>  BikeCity</a>
            <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
          </div>
          <div class="col-6 col-md">
            <h5>BikeCity</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Shop</a></li>
              <li><a class="text-muted" href="#">Copyright</a></li>
              <li><a class="text-muted" href="#">Email support</a></li>
              <li><a class="text-muted" href="#">Social media:</a></li>
              <li><ul class="social-list d-flex my-1 pl-0">
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
            </ul></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Site</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Bikes</a></li>
              <li><a class="text-muted" href="#">Parts</a></li>
              <li><a class="text-muted" href="#">cycling wear</a></li>
              <li><a class="text-muted" href="#">Clothing</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Learn more</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">About us</a></li>
              <li><a class="text-muted" href="#">Blog</a></li>
              <li><a class="text-muted" href="#">Support</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
</div>