<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-5">
        <!-- Form -->
        <div class="col-12 col-sm-6 col-md-3 card mx-1 px-0">

            <div class="card-header bg-info text-white">
                <h6 class="mb-1">Crear Usuarios</h6>
            </div>
            <div class="card-body">
                <!-- Form to register a user -->
                <form #userForm="ngForm" class="mb-4">
                    <!-- Si el objeto que envío lleva el id se actualiza, sino tiene id, crea uno nuevo -->
                    <input #name="ngModel" [(ngModel)]="usersService.selectedRol._id" type="hidden"
                        class="form-control" id="_id" name="_id" />
                    <div class="form-group">
                        <label for="name"> <small class="text-muted"> Nombre </small></label>
                        <input #name="ngModel" [(ngModel)]="usersService.selectedRol.name" type="text"
                            class="form-control" id="name" name="name" />
                    </div>

                    <div class="form-group">
                        <label for="email"> <small class="text-muted"> Email</small></label>
                        <input #name="ngModel" [(ngModel)]="usersService.selectedRol.email" type="text"
                            class="form-control" id="email" name="email" />
                    </div>

                    <div class="form-group">
                        <label for="rol"> <small class="text-muted"> Rol </small></label>
                        <input #name="ngModel" [(ngModel)]="usersService.selectedRol.rol" type="text"
                            class="form-control" id="rol" name="rol" />
                    </div>

                    <div class="form-group">
                        <label for="password"> <small class="text-muted"> password </small></label>
                        <input #name="ngModel" [(ngModel)]="usersService.selectedRol.password" type="text"
                            class="form-control" id="password" name="password" />
                    </div>

                </form>
                <button type="submit" class="btn btn-info px-4 mr-2" (click)="save(userForm)">Guardar</button>
                <button class="btn btn-warning px-4" (click)="clean(userForm)">Limpiar</button>
            </div>
        </div>

        <!-- Table -->
        <div class="col-12 col-sm-6 col-md-8 card mx-1 px-0">
            <div class="card-header bg-dark text-white">
                <h6 class="mb-1">Listado de productos</h6>
            </div>
            <div class="card-body p-0">
                <table class="table text-center">
                    <thead class="bg-light text-info">
                        <tr>
                            <th scope="col">
                                <p class="my-0"><small> Nombre </small> </p>
                            </th>
                            <th scope="col">
                                <p class="my-0"><small> E-mail </small> </p>
                            </th>
                            <th scope="col">
                                <p class="my-0"><small> Rol </small> </p>
                            </th>
                            <th scope="col">
                                <p class="my-0"><small> password </small> </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rol of usersService.rols">
                            <td> {{ rol.name }}</td>
                            <td>{{ rol.email }}</td>
                            <td>{{ rol.rol }}</td>
                            <td>{{ rol.password }}</td>

                            <td>
                                <button class="btn btn-light text-info mr-1" (click)="fillFields(rol)"><i
                                        class="bi bi-pencil-square"></i></button>
                                <button class="btn btn-light text-danger" (click)="deleteRol(rol._id)"><i
                                        class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer class="fixed-bottom"></app-footer>