
<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-md-6 text-white">
          <ul class="social-list d-flex my-1">
              <li class="mr-3">
                  <a href="#" class="text-light ">
                      <i class="bi bi-twitter"></i>
                  </a>
              </li>
              <li class="mr-3">
                  <a href="#" class="text-light ">
                      <i class="bi bi-facebook"></i>
                  </a>
              </li>
              <li class="mr-3">
                  <a href="#" class="text-light ">
                      <i class="bi bi-instagram"></i>
                  </a>
              </li>
              <li class="mr-3">
                  <a href="#" class="text-light ">
                      <i class="bi bi-youtube"></i>
                  </a>
              </li>
          </ul>
        </div>

        <!-- Col 2 -->
        <div class="col-md-6 d-flex justify-content-end">
            <small class="text-light mt-1">Contáctanos en: retrystore@contact.com</small>
        </div>
      </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home"><i class="bi bi-bicycle"></i>  BikeCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/cart"><i class="bi bi-cart-fill"></i></a>
        <a class="nav-link" href="/admin">Products admin</a>
        <a class="nav-link" href="/users">Users admin</a>
      </div>
    </div>
  </nav>